.vscode

backend/.vscode
backend/HeapOverflow.API/bin
backend/HeapOverflow.API/obj
backend/HeapOverflow.API/Logs
backend/HeapOverflow.API/Properties
backend/HeapOverflow.API/appsettings.Development.json
backend/HeapOverflow.API/appsettings.json
backend/HeapOverflow.API/dump.rdb
backend/HeapOverflow.Application/bin
backend/HeapOverflow.Application/obj
backend/HeapOverflow.Infrastructure/bin
backend/HeapOverflow.Infrastructure/obj
backend/HeapOverflow.Infrastructure/Migrations
backend/HeapOverflow.Domain/obj
backend/HeapOverflow.Domain/bin
backend/HeapOverflow.IntegrationTests/obj
backend/HeapOverflow.IntegrationTests/bin
backend/HeapOverflow.UnitTests/obj
backend/HeapOverflow.UnitTests/bin
backend/.DS_Store
backend/Makefile